@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins";
    font-weight: 200;
    font-size: 1rem;
    --bgcolor: whitesmoke;
    --primarycolor: #FF0066;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


/* Navbar */

header {
    background-color: #333;
    color: white;
    border-bottom: 2px solid rgb(226, 5, 5);
    text-align: center;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999;
}

header .nav-logo h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    margin-left: 1rem;
}

header .nav-mid {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    /* transform: translateX(100%); */
    transition: transform 0.3s ease-in-out;
}


/* header .nav-mid.active {
    content: "";
    position: absolute;
    top: 0;
    right: -100;
    bottom: 0;
    background-color: #333;
} */

header .nav-mid a {
    text-decoration: none;
    color: white;
}

header .nav-mid a h3 {
    color: white;
}

#hamburger-menu {
    display: none;
}

section {
    padding: 50px;
}


/* About */

#about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    width: 100%;
}

#about .col1 {
    width: 40%;
    position: relative;
}

#about .col1 img {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
}

#about .col2 {
    width: 60%;
    padding-top: 2.4rem;
}

#about .col2 h2 {
    font-size: 2rem;
    display: inline-block;
}

#about .col2 h2::after {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--primarycolor);
    padding-bottom: -1rem;
}

#about .col2 p {
    margin-top: 2rem;
    text-align: justify;
    letter-spacing: 0.2rem;
}

#about .col2 .tambahan {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
}

#about .col2 .tambahan a {
    text-decoration: none;
    color: #FF0066;
}

#about .col2 .tambahan a span {
    color: #2f363d;
}


/* Project */

#project {
    background: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    color: whitesmoke;
    border-radius: 2%;
}

#project h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.img-project {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 2.4rem;
    justify-content: center;
}

.image-project {
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* Tambahkan gaya khusus untuk formulir */

#contact {
    margin: 3rem 0 4rem 0;
    width: 100%;
}

#contact h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

#contact .row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 3rem;
}

.row .left-coloum {
    width: 50%;
}

.row .right-coloum {
    width: 50%;
}

.gmaps {
    width: 100%;
    height: 100%;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #333;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30rem;
    margin: auto;
}

footer {
    margin-top: 2rem;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: start;
    color: white;
    background-color: #333;
    border-top: 3px solid var(--primarycolor);
}

footer .social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer .social-media a {
    color: var(--bgcolor);
}

footer .line-bar {
    margin: 1.2rem 0 0.8rem 0;
    content: "";
    background-color: var(--bgcolor);
    width: 100%;
    height: 2px;
}


/* Laptop */


/* @media only screen and (min-width: 993px) {} */


/* Tablet */

@media only screen and (min-width: 601px) and (max-width: 992px) {
    /* Tambahkan gaya CSS yang sesuai untuk layar sedang */
    html {
        font-size: 75%;
    }
    header .nav-mid a h3 {
        display: none;
    }
    #hamburger-menu {
        display: block;
    }
    #about {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #about .col2 {
        width: 100%;
    }
    #about .col2 h2 {
        text-align: center;
        display: block;
    }
    #about .col2 h2::after {
        margin: 0 auto;
        width: 50%;
        display: block;
    }
    .img-project .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-project .project .project-content {
        display: flex;
        flex-direction: column;
    }
    .project-content h3 {
        text-align: center;
    }
    img {
        width: 86%;
    }
    #contact .row {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80%;
        margin: auto;
    }
    #contact .row .left-coloum {
        width: 100%;
        flex: 1 1 1 45px;
    }
    #contact .row .right-coloum {
        width: 100%;
        flex: 1 1 1 45px;
    }
}


/* Handphone */

@media only screen and (max-width: 600px) {
    html {
        font-size: 56%;
    }
    section {
        padding: 1.8rem;
    }
    #about {
        margin-top: 6rem;
    }
    header .nav-mid a h3 {
        display: none;
    }
    #hamburger-menu {
        display: block;
    }
    #about {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #about .col2 {
        width: 100%;
    }
    #about .col2 h2 {
        text-align: center;
        display: block;
    }
    #about .col2 h2::after {
        margin: 0 auto;
        width: 50%;
        display: block;
    }
    .img-project .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-project .project .project-content {
        display: flex;
        flex-direction: column;
    }
    .project-content h3 {
        text-align: center;
    }
    img {
        width: 75%;
    }
    #contact .row {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80%;
        margin: auto;
    }
    #contact .row .left-coloum {
        width: 100%;
        flex: 1 1 1 45px;
    }
    #contact .row .right-coloum {
        width: 100%;
        flex: 1 1 1 45px;
    }
    footer .social-media a .feather {
        width: 24px;
        height: 24px;
    }
}