@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins";
    font-weight: 200;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

header .nav-logo h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    margin-left: 1rem;
}

header .nav-mid {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

header .nav-mid a {
    text-decoration: none;
}

header .nav-mid a h3 {
    color: white;
}

header .nav-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}

header .nav-extra a {
    text-decoration: none;
    color: white;
}

section {
    padding: 50px;
}

#about {
    display: flex;
    border-bottom: 1px solid black;
    gap: 4rem;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
}

#about .col1 img {
    border-radius: 10%;
}

#about .col2 p {
    text-align: justify;
    letter-spacing: 0.2rem;
}

#projects h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.img-project {
    display: flex;
    margin: auto;
    gap: 2.4rem;
    justify-content: space-between;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}


/* Tambahkan gaya khusus untuk formulir */

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #333;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30rem;
    margin-bottom: 10rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: start;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

footer .col1 {
    width: 40%;
    padding-left: 3rem;
}

footer .col2 {
    width: 60%;
}

button {
    margin: 0;
}